<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Receipes</title>
</head>
<body>
  <body>
    <h1>Receipes</h1>
    <% if(error) { %>
      <h2><%= error %></h2>
    <% } %>
    <ul>
      <% receipes.forEach(function(receipe) { %>
        <li>
          <%= receipe.text %>
            - 
          <%= receipe.done ? 'favorite' : 'not favorite' %>
        </li>
      <% }) %>
    </ul>
  </body>
</html>